In [5]:
import pandas as pd
import quandl

In [20]:
df = quandl.get('WIKI/GOOGL')

In [31]:
df1 = df
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Pct_change,HL_pct
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,0.324968,3.712563
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,7.227007,0.710922
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,-1.227880,3.729433
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,-5.726357,6.417469
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.183658,1.886792

In [34]:
df1 = df1[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]
df1.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [35]:
df1['Pct_change'] = (df1['Adj. Close'] - df1['Adj. Open']) / df1['Adj. Open'] * 100
df1['HL_pct'] = (df1['Adj. High'] - df1['Adj. Close']) / df1['Adj. Close'] * 100
df1

C:\Users\Sweta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Pct_change,HL_pct
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,0.324968,3.712563
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,7.227007,0.710922
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,-1.227880,3.729433
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,-5.726357,6.417469
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.183658,1.886792
2004-08-26,52.637487,54.142132,52.492038,54.122070,7094800.0,2.820391,0.037068
2004-08-27,54.217364,54.478169,53.008633,53.239345,6211700.0,-1.803885,2.326896
2004-08-30,52.802998,52.908323,51.162935,51.162935,5196700.0,-3.106003,3.411430
2004-08-31,51.318415,52.015567,51.238167,51.343492,4917800.0,0.048866,1.308977
2004-09-01,51.509003,51.644421,49.989312,50.280210,9138200.0,-2.385589,2.713217
2004-09-02,49.698414,51.343492,49.623182,50.912161,15118600.0,2.442224,0.847207
2004-09-03,50.631294,51.027517,49.813770,50.159839,5152400.0,-0.931154,1.729827
2004-09-07,50.661387,51.157920,49.959219,50.947269,5847500.0,0.564301,0.413467
2004-09-08,50.525969,51.674514,50.405597,51.308384,4985600.0,1.548541,0.713587
2004-09-09,51.408694,51.514019,50.656371,51.313400,4061700.0,-0.185366,0.390969
2004-09-10,50.892099,53.444980,50.806836,52.828075,8698800.0,3.804080,1.167758
2004-09-13,53.480088,54.372844,53.394825,53.916435,7844100.0,0.815905,0.846512
2004-09-14,53.886342,56.173402,53.560336,55.917612,10828900.0,3.769546,0.457440
2004-09-15,55.451172,57.291854,55.270615,56.173402,10713000.0,1.302460,1.991071
2004-09-16,56.343928,58.079285,55.997860,57.161452,9266300.0,1.450952,1.605686
2004-09-17,57.387149,58.926902,56.950802,58.926902,9472500.0,2.683097,0.000000
2004-09-20,58.656066,60.988265,58.565787,59.864797,10628700.0,2.060710,1.876676
2004-09-21,60.286097,60.396438,58.936933,59.102444,7228700.0,-1.963394,2.189409
2004-09-22,58.906840,60.020277,58.585849,59.373280,7581200.0,0.791826,1.089711
2004-09-23,59.603992,61.504860,58.691174,60.597057,8535600.0,1.666106,1.498096
2004-09-24,60.672290,62.242136,60.065416,60.100525,9123400.0,-0.942382,3.563381
2004-09-27,59.965107,60.627150,59.082382,59.313094,7066100.0,-1.087320,2.215457
2004-09-28,60.762568,63.897245,60.291113,63.626409,16929000.0,4.713165,0.425666
2004-09-29,63.460898,67.719042,63.310433,65.742942,30516400.0,3.595985,3.005798
2004-09-30,65.150614,66.354831,64.699722,65.000651,13758000.0,-0.230179,2.083333
...,...,...,...,...,...,...,...
2018-02-13,1050.000000,1061.220000,1046.920000,1054.140000,1574121.0,0.394286,0.671638
2018-02-14,1054.320000,1075.470000,1049.800000,1072.700000,2029979.0,1.743304,0.258227
2018-02-15,1083.450000,1094.100000,1067.230000,1091.360000,1806206.0,0.730075,0.251063
2018-02-16,1093.380000,1108.310000,1091.550000,1095.500000,1971928.0,0.193894,1.169329
2018-02-20,1092.760000,1116.290000,1090.000000,1103.590000,1646405.0,0.991068,1.150790
2018-02-21,1109.100000,1136.200000,1107.510000,1113.750000,2024534.0,0.419259,2.015713
2018-02-22,1119.170000,1125.460000,1105.150000,1109.900000,1386115.0,-0.828292,1.401928
2018-02-23,1118.660000,1129.000000,1108.440000,1128.090000,1234539.0,0.842973,0.080667
2018-02-26,1131.860000,1144.200000,1129.340000,1143.700000,1489118.0,1.046066,0.043718
2018-02-27,1143.700000,1144.250000,1116.790000,1117.510000,2094863.0,-2.289936,2.392820
2018-02-28,1122.000000,1127.650000,1103.000000,1103.920000,2431023.0,-1.611408,2.149612
2018-03-01,1109.540000,1111.270000,1067.290000,1071.410000,2766856.0,-3.436559,3.720331
2018-03-02,1057.980000,1086.890000,1050.110000,1084.140000,2508145.0,2.472637,0.253657
2018-03-05,1078.130000,1101.180000,1072.270000,1094.760000,1432369.0,1.542486,0.586430
2018-03-06,1102.100000,1105.630000,1094.500000,1100.900000,1169068.0,-0.108883,0.429648
2018-03-07,1092.820000,1116.200000,1089.910000,1115.040000,1537429.0,2.033272,0.104032
2018-03-08,1117.200000,1131.440000,1117.200000,1129.380000,1510478.0,1.090226,0.182401
2018-03-09,1139.500000,1161.000000,1134.290000,1160.840000,2070174.0,1.872751,0.013783
2018-03-12,1165.050000,1178.160000,1159.200000,1165.930000,2129297.0,0.075533,1.048948
2018-03-13,1171.830000,1178.000000,1134.570000,1139.910000,2129435.0,-2.723945,3.341492
2018-03-14,1145.800000,1159.760000,1142.350000,1148.890000,2033697.0,0.269681,0.946131
2018-03-15,1149.570000,1162.500000,1135.660000,1150.610000,1623868.0,0.090469,1.033365
2018-03-16,1155.350000,1156.810000,1131.360000,1134.420000,2654602.0,-1.811572,1.973696
2018-03-19,1117.760000,1119.370000,1088.920000,1100.070000,3076349.0,-1.582630,1.754434
2018-03-20,1098.400000,1105.550000,1082.420000,1095.800000,2709310.0,-0.236708,0.889761
2018-03-21,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,0.130884,1.343693
2018-03-22,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,-2.487014,2.921711
2018-03-23,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,-2.360729,3.918952
2018-03-26,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,0.332191,0.491419
2018-03-27,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,-5.353887,5.720301

In [42]:
df1 = df1[['Adj. Close','Adj. Volume','Pct_change','HL_pct']]